@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
    font-family: "Bellota Text", sans-serif;
    font-family: "Judson", serif;
    font-family: "Josefin Slab", serif;
}



.container{
    width: 80%;
    margin :auto;
    border-radius: 1.5rem;
    /* background-color: bisque; */
    box-shadow: 5px 5px 15px grey;
    background-color: white;
}

/* ICONBAR */

.iconbar{
    display:flex;
    justify-content: space-between;
    padding: 10px 50px;
    flex-wrap: wrap;
    border-bottom: 2px solid #d9d9d9;
    
}

.input-part{
   /* background-color: aqua;  */
   display:flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 1rem;
}


.select-category select{
    width: 188px;
    height: 40px;
    background-color: #d9d9d9;
    font-family:"Bellota Text", sans-serif;
    border-radius: 5px;
    border: none;
    

}

.search-input{ 
   background-color: #d9d9d9;
   display: flex;
   justify-content: space-between;
   border-radius: 5px;
   align-items: center;
   margin-left: 1rem;
   overflow: hidden;
   height: 40px;
   width: 310px;
   
   
}
.search-input input{
    flex:0 1 300px;
    background-color: inherit;
    border: none;
    font-style: 1.5rem;
    padding: 0.5rem;
}

.search-input input:focus{
    outline: none;
}



.support{
    /* border: 2px solid black; */
    text-align: right;
    margin-left: 1rem;
}
.support-number{
    font-size: 1.8rem;
    font-weight: 600;
}
.support-text{
    font-size: 0.8rem;
}







.logo{
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5%;
    margin: 1rem;
}

.icons{
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.navbar{
    /* border: 2px solid red; */
    display:flex;
    padding: 10px 50px;
    gap: 1rem;
}

.button{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    width: 310px;
    height: 40px;
    gap: 1rem;
    padding: 1rem;
    font-style: italic;
    font-weight: 700;
    border-radius: 5px;
    background-color: #d9d9d9;
    cursor: pointer;
}

.nav{
    /* border: 2px solid blue; */
    display: flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}


/* HEADER */

header{
    
}