@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFEFEF;
    font-family: "Bellota Text", sans-serif;
    font-family: "Judson", serif;
    font-family: "Josefin Slab", serif;
}



.container{
    border: 2px solid red;
    width: 80%;
    margin :auto;
    border-radius: 1.5rem;
}

/* ICONBAR */

.iconbar{
    display:flex;
    justify-content: space-between;
    padding: 10px 50px;
    flex-wrap: wrap;
    border-bottom: 2px solid #d9d9d9;
    
}

.input-part{
   background-color: aqua; 
   display:flex;
   align-items: center;
   flex-wrap: wrap;
}

.select-category{


}
.select-category select{
    width: 188px;
    height: 40px;
    background-color: #d9d9d9;
    font-family:"Bellota Text", sans-serif;
}



.logo{
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5%;
    margin: 1rem;
}

.icons{
    background-color: blue;
}