@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFEF;
    font-family: "Bellota Text", sans-serif;
    font-family: "Judson", serif;
    font-family: "Josefin Slab", serif;
}



.container {
    width: 80%;
    margin: auto;
    border-radius: 1.5rem;
    /* background-color: bisque; */
    box-shadow: 5px 5px 15px grey;
    background-color: white;
    overflow: hidden;
    /* padding-bottom: 1rem; */
}

/* ICONBAR */

.iconbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    flex-wrap: wrap;
    border-bottom: 2px solid #d9d9d9;

}

.input-part {
    /* background-color: aqua;  */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


.select-category select {
    width: 188px;
    height: 40px;
    background-color: #d9d9d9;
    font-family: "Bellota Text", sans-serif;
    border-radius: 5px;
    border: none;


}

.search-input {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    margin-left: 1rem;
    overflow: hidden;
    height: 40px;
    width: 310px;


}

.search-input input {
    flex: 0 1 300px;
    background-color: inherit;
    border: none;
    font-style: 1.5rem;
    padding: 0.5rem;
}

.search-input input:focus {
    outline: none;
}



.support {
    /* border: 2px solid black; */
    text-align: right;
    margin-left: 1rem;
}

.support-number {
    font-size: 1.8rem;
    font-weight: 600;
}

.support-text {
    font-size: 0.8rem;
}







.logo {
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 5%;
    margin: 1rem;
}

.icons {
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.navbar {
    /* border: 2px solid red; */
    display: flex;
    padding: 10px 50px;
    gap: 1rem;
    align-items: center;
}

.button {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    width: 310px;
    height: 40px;
    gap: 1rem;
    padding: 1rem;
    font-style: italic;
    font-weight: 700;
    border-radius: 5px;
    background-color: #d9d9d9;
    cursor: pointer;
}

.nav {
    /* border: 2px solid blue; */
    display: flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}


/* --------------------------------- HEADER --------------------------------- */


header {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem 5rem;
    background-image: url(./images/stock.jpg);
    flex-wrap: wrap;

}

.essential {
    background-color: #d5dee5;
    display: flex;
    flex-direction: row;
    flex: 0 1 600px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

.essentail-text {
    padding: 2rem;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    padding: 20px;
}

.sofa img {
    width: 100%;
}

.lighting {
    background-color: #ffc868;
    width: 400px;
    height: 300px;
    overflow: hidden;
    position: relative;
    flex: 0 1 300px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
}

.lighting img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.lighting-text {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 80%;
    float: right;
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 2rem;
}

/* -------------------------------------------------------------------------- */
/*                                  CATEGORY                                  */
/* -------------------------------------------------------------------------- */

.category-section {
    background-color: #aea08d;
}

.category-part {
    padding: 2rem;
    font-size: 2rem;
}

.category-part p {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;

}

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    background-color: #e5e3df;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 15px grey;
    font-family: "Josefin Slab", serif;
    flex: 0 1 20rem;
}

.category p {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1rem;
    text-align: left;
}

.category img {
    width: 80%;
    height: 80%;
    /*! best opt for img */
    object-fit: cover;
    border-radius: 0.8rem;
}


.product-part {
    padding: 1rem;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.product {
    width: 20rem;
    height: 20rem;
    background-color: #d9d9d9;
    text-align: center;
    box-shadow: 2px 2px 20px grey;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;

}

.product-part p {
    padding-left: 1rem;
    padding-top: 1rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
}

.product img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}



.product p {
    padding: 1rem;
    /* font-style: italic; */
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Bellota Text", sans-serif;
}

.zoomla {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* resmi kutuya göre kırpar, boşluk bırakmaz */
    object-position: center;
    /* kırpacaksa ortalayarak kırpsın */
    display: block;
     /* bazen img altındaki boşlukları engeller */
}


/* -------------------------------------------------------------------------- */
/*                             CONTACT US SECTION                             */
/* -------------------------------------------------------------------------- */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background-color: #aea08d;
}

.expert{
    
    flex: 1 3 60%;
}



.looking{
    font-family: "Bellota Text", sans-serif;
   font-size: 2rem;
}

span{
    color: #cf721b;
    font-weight: 700;
}

.leave{
    margin-top: 1rem;
    line-height: 1.5;
}


.formSection{
    /* background-color: #ffc868; */
    flex: 1 1 40%;
    font-size: 1.5rem;

}

.formElement{
    padding: 0.1rem 0;
    margin: 0.3rem;
}   

.formElement input{
    width: 100%;
    padding: 0.7rem 0;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid black;
    /* outline: none; */
    font-family: "Bellota Text", sans-serif;
}
.formElement input:focus{
    outline: none;
    
   
}


.submit{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: #cf721b;
    color: white;
    font-weight: 700;
    cursor: pointer; 
    width: 12rem;
    height: 3rem;
    display: flex;   
    justify-content: center;
    align-items: center;
    margin-top: 1rem;  
    border: 1px solid #cf721b; 
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

.policy a{
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-left: 0.1rem;
    color: black;
}

.policy a:hover{
    color: #cf721b;
    border-color:#cf721b;
    transition: 0.3s;
}